* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: whitesmoke;
  color: rgb(128, 0, 107);
  font-family: "Trebuchet MS", sans-serif;
}
header {
  background-color: #5c0564;
  padding: 10px 0;
  text-align: center;
  align-items: center;
  padding: 20px;
  height: 100px;
  display: flex;
  width: 100%;
  justify-content: center;
  position: fixed;
  z-index: 9999;
  margin-bottom: 100px;
}
.menuLinks {
  list-style: none;
  font-size: 18px;
  font-weight: bold;
}
.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
  justify-content: center;
}
.menu a {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.15s;
}
.menu a:hover {
  opacity: 0.5;
  color: crimson;
}
main {
  width: 100%;
  padding: 30px;
}
.TopHeading {
  margin-block-start: 100px;
}
.menuLinks {
  list-style: none;
  font-size: 18px;
  font-weight: bold;
}
.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
  justify-content: center;
}
section {
  margin-block-end: 40px;
}
h1 {
  font-style: italic;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  margin-block: 40px;
}
.flex {
  display: flex;
  align-items: center;
  flex-direction: column;
}
picture > img {
  width: 300px;
  height: 400px;
  border-radius: 100px;
  object-fit: cover;
  margin-block-end: 70px;
}
audio,
video {
  width: 350px;
  margin-block-end: 70px;
}
footer {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: opacity 0.15s;
  margin-block-end: 100px;
}
footer:hover {
  opacity: 0.5;
}
footer:active {
  opacity: 0.5;
}
footer a {
  color: rgb(128, 0, 107);
  text-decoration: none;
}
/* === small phone style===== */
@media only screen and (max-width: 760px) {
  nav {
    margin-block-start: 10px;
    font-size: 16px;
  }
  section {
    padding: 25px 25px 0 0;
  }
  section h1 {
    font-size: 30px;
    margin-block: 10px;
  }
  picture > img {
    width: 250px;
    height: 250px;
  }
  audio,
  video {
    width: 300px;
  }
  footer {
    margin: 20px;
  }
}
